.formMainDiv {
    display: flex;
    flex-direction: column;
}

/* .hidden {
    display: contents;
} */

.formInvalid {
    color: red;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
h2 {
    margin: 0px;
    padding: 0px;
}
input {
    margin: 0;

}
label {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    
}

